
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  width: 100%;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
}

.btn-register {
  width:100%;
}

.register-input {
  width:100%;
}

.register-form * {
  margin: 10px;
}

p {
  font-size: 1rem;
}