.post-page {
  display: flex;
  justify-content: center;
  align-items: center;
 }

.post-form {
  width: 100%;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
}

.btn-post {
  width:100%;
}

.post-input {
  width:100%;
}

.post-form * {
  margin: 10px;
}

p {
  font-size: 1rem;
}

